body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    min-height:5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;   
}

.f-info-socials,.f-info-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* cards */

.card{
    border: none !important;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    height: 20rem;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* form */

.add-btn{
    color: white !important;
    background-color: #fe424d !important;
    border: none ;
}

.update-btn{
    color: white !important;
    background-color: #fe424d !important;
    border: none ;
}

/* show page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

/* 404 page */

.img-404{
    margin-top: 5rem;
    text-align: center;
    color: black;
    font-size: 9rem;
}

.info-404{
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 500;
}